<div class="column is-mobile is-half">
  <p class="control is-1 mb-2">
    <%= link_to 'Upcoming Events', events_path, class: "button is-danger is-outlined" %>
  </p>
  <% @upcoming.each do | event | %>
    <div class="box">
      <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <%= gravatar_image_tag(event.creator.email, size: 64, alt: event.creator.username) %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">     
              <strong><%= link_to event.name, event_path(event.id) %></strong><br />
              <small><%= event.creator.username %></small><br/>         
              <p><%= event.description %></p>
              <small><%= content_tag(:p, "#{event.date.localtime.strftime("%a, %b %d, %Y")}  -  #{event.date.localtime.strftime("%I:%M %P")}", class: "date-time") %></small>
            </div>
          </div>
      </article>
    </div>
  <% end %>
</div>
<div class="column is-mobile is-half">
  <p class="control is-1 mb-2">
    <%= link_to 'Past Events', events_path, class: "button is-danger is-outlined" %>
  </p>
  <% @past.each do | event | %>
    <div class="box">
      <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <%= gravatar_image_tag(event.creator.email, size: 64, alt: event.creator.username) %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">     
              <strong><%= link_to event.name, event_path(event.id) %></strong><br />
              <small><%= event.creator.username %></small><br/>         
              <p><%= event.description %></p>
              <small><%= content_tag(:p, "#{event.date.localtime.strftime("%a, %b %d, %Y")}  -  #{event.date.localtime.strftime("%I:%M %P")}", class: "date-time") %></small>
            </div>
          </div>
      </article>
    </div>
  <% end %>
</div>