<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :name, label: "What's the name of your event?", input_html: { class: "textarea"}, wrapper: false, label_html: {class: "label"}, placeholder: "My event is...", autofocus: true %>
      <%= f.input :description, label: "Describe your event", input_html: { class: "textarea"}, wrapper: false, label_html: {class: "label"}, placeholder: "My event is about... and will be in this location...", autofocus: false %>
      <%= f.input :date, label: "When will be?", input_html: { class: "datetime"}, wrapper: false, label_html: {class: "label"}%>
    </div>
  </div>
  <%= f.button :submit, class: "button is-danger is-light" %>
<% end %>